@charset "utf-8";
h1 {
  font-size: 1.6rem;
  margin: 0 0 20px;
}
.form p {
  font-size: 1.2rem;
  margin: 0;
  padding-left: 10px;
}
.form p:not(:last-child) {
  margin: 0 0 30px;
}
input[type="text"] {
  border: 2px solid #bbb;
  border-radius: 2px;
  height: 20px;
  width: 350px;
}
.btn {
  background: #eee;
  border: 2px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  height: 28px;
  padding: 0;
  width: 90px;
}
.savebtn {
  display: none;
}
.warning {
  height: 50px;
}
.listtable {
  border-collapse: collapse;
}
.listtable tr {
  border-bottom: 1px solid #000;
  display: block;
  margin: 0 0 20px;
}
.listtable tr td:nth-child(2) {
  width: 300px;
}
.listtable tr td:not(:first-child) {
  padding: 5px 16px;
}
#editbtn, #deletebtn, #completebtn, #cancelbtn {
  border: 1px solid #bbb;
  width: 70px;
  height: 25px;
}
td.edit {
  color: red;
  font-weight: bold;
}
tr.complete {
  color: #aaa;
  text-decoration: line-through;
}
.completebtn {
  display: none;
}