@charset "utf-8";
main {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
.multiplication {
  border-collapse: collapse;
}
table {
  border: 2px solid #cc6600;
}
table td {
  border: solid 1px #cc6633;
  padding: 5px;
}
table tr:nth-child(odd) td:nth-child(odd) {
  background: #eee;
}
table tr:nth-child(even) td:nth-child(even) {
  background: #eee;
}